.App{
 display: flex;
 flex-direction: row;
 background: #F5F5F5;
 height: 100%;
 width:auto;
 
}
.seachbar_div{
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    height: 20vh;
    width: 70vw;
   
}

.profile_div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    height: 30vh;
    width: 70vw;
    background-size: cover;
}

